<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>SKOPIA.MonitorServletContextListener</listener-class>
    </listener>
    <listener>
        <description>RequestListener</description>
        <listener-class>SKOPIA.CounterListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>BRAS_servlet</servlet-name>
        <servlet-class>SKOPIA.BRAS_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlarmsServletGantt</servlet-name>
        <servlet-class>SKOPIA.AlarmsServletGantt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>SKOPIA.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alarmsWS_servlet</servlet-name>
        <servlet-class>SKOPIA.alarmsWS_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlarmsToFile_servlet</servlet-name>
        <servlet-class>AlarmsToFile_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRMDiligentPortTypeResponseService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CRMDiligentResponsePortTypeService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>BRAS_servlet</servlet-name>
        <url-pattern>/BRAS_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlarmsServletGantt</servlet-name>
        <url-pattern>/AlarmsServletGantt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>root_1.htm</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>alarmsWS_servlet</servlet-name>
        <url-pattern>/alarmsWS_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlarmsToFile_servlet</servlet-name>
        <url-pattern>/AlarmsToFile_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRMDiligentPortTypeResponseService</servlet-name>
        <url-pattern>/CRMDiligentPortTypeResponseService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRMDiligentResponsePortTypeService</servlet-name>
        <url-pattern>/CRMDiligentResponsePortTypeService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
